*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    background-color: black;
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-y: scroll;
}

.app::-webkit-scrollbar{
    width: 0;
    height: 0;
}


/*
.spinner-component{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.spinner-component .spinner{
    height:60px;
    width:60px;
    border-top: 3px solid white;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.spinner-component button{
    height: 40px;
    width: 150px;
    background-color: transparent;
    border: 3px solid red;
    border-radius: 5px;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    transition: all 0.25s ease-in;
}

.spinner-component button:hover{
    color: red;  
}
*/
